{{>layout/header}}
<div>
    <h1>!!숫자야구!!</h1>

    <div class="col-md-4">
        <form>
            <div class="form-group">
                <input type="string" class="form-control" id="player" placeholder="플레이어명을 입력하세요">
            </div>
        </form>

        <button type="button" class ="btn btn-primary" id="btn-start">시작하기</button>

    </div>

</div>
{{>layout/footer}}
