{{>layout/header}}
<div>
    <h1>!!숫자야구!!</h1>

    <div class="col-md-4">
        <form>
            <div class="form-group">
                <div>라운드</div>
                <input type="number" class="form-control" id="guess" placeholder="추측하는 상대의 숫자를 입력하세요">
            </div>
        </form>

        <a href="/" role="button" class ="btn btn-primary" id="bton-secondary">취소</a>
        <button type="button" class ="btn btn-primary" id="bton-save">확정</button>
    </div>

</div>
{{>layout/footer}}
